# AI 
ANTHROPIC_API_KEY=

# Sui Blockchain 
SUI_NETWORK=testnet
SUI_WALLET_ADDRESS=0x5a74b232069d7114400321fb89116192f219a32d3849f233928157aac5afc7b3
SUI_PRIVATE_KEY=

# Frontend 
NEXT_PUBLIC_APP_URL=http://localhost:3000
